.stocks__container {
  padding-bottom: 118px;
  padding-top: 118px;

  @include vp-1199 {
    width: 88.5%;
    padding-top: 99px;
    padding-bottom: 98px;
  }

  @include vp-767 {
    padding-top: 69px;
    padding-bottom: 69px;
  }
}

.stocks h2 {
  text-align: center;
  margin-bottom: 51px;

  @include vp-767 {
    margin-bottom: 41px;
  }
}

.stocks__container-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 38px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.stocks ul {
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}


.stocks li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 17px 28px 28px;
  border: 7px solid;
  border-image: linear-gradient(#d10a42, #0041ca);
  border-image-slice: 1;
  color: $color-dark-blue;
  min-height: 211px;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-1199 {
    min-height: 211px;
    height: auto;
    margin-bottom: 0;
  }

  @include vp-767 {
    padding: 30px 20px 38px;
    grid-column: 1/2;
    text-align: center;
  }
}

.stocks h3 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.63em;
  color: $color-dark-blue;
}

.stocks p {
  letter-spacing: 0.01em;
  margin: 0;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;
  }

  @include vp-767 {
    letter-spacing: 0.02em;
  }
}

.stocks a {
  position: relative;
  width: fit-content;
  font-size: 0.8em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-dark-blue;
  display: block;
  margin-top: auto;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: $color-dark-blue;
  }

  @include vp-767 {
    margin: auto auto 0;
  }
}

.stocks__main-item {
  border: none;
  color: $color-default-white;
  min-height: 432px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  @include vp-1199 {
    grid-template-columns: 1fr auto;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.stocks__desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $color-red;
  padding: 39px 43px 45px 44px;
  color: $color-default-white;
  letter-spacing: 0.05em;

  @include vp-1199 {
    padding: 39px 40px 46px 46px;
  }

  @include vp-767 {
    text-align: center;
    padding-right: 45px;
  }
}

.stocks__desc h3 {
  color: $color-default-white;
  margin-bottom: 20px;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: 16px;
  }
}

.stocks__desc a {
  color: $color-default-white;
  letter-spacing: 0.1em;

  &::after {
    background-color: $color-default-white;
  }

  @include vp-767 {
    margin: 19px auto 0;
  }
}

.stocks__desc span {
  line-height: 1.3;
  font-weight: bold;
  display: block;

  @include vp-767 {
    font-size: 1.05em;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
}

.stocks__desc span + span {
  font-size: 2.64em;
  line-height: 1;

  @include vp-767 {
    letter-spacing: 0.01em;
  }
}

.stocks__desc p {
  line-height: 1.4;
  font-size: 1.13em;

  @include vp-767 {
    font-size: 1.1em;
  }
}

.stocks__image {
  flex: 1;
  background: linear-gradient(to top, #bcdaf5, #598aeb);
}

.stocks__image img {
  width: 280px;
  height: 100%;
  object-fit: cover;

  @include vp-1199 {
    min-height: 461px;
    width: auto;
    object-position: 0 0;
  }

  @include vp-767 {
    width: 100%;
    height: 299px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
