.container {
  max-width: 1160px;
  width: 84.92%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    width: 95%;
  }

  @include vp-767 {
    width: 84.8%;
  }
}

.container h2 {
  margin: 0;
  margin-bottom: 62px;
  font-weight: bold;
  font-family: $ff-Bebas-Neue;
  font-size: 3.06em;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $color-dark;
}
