.container {
  max-width: 1160px;
  width: 86%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1274 {
    width: 93%;
  }

  @include vp-1199 {
    width: 88.3%;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    width: 91%;
    padding-top: 69px;
    padding-bottom: 70px;
  }
}

.container h2 {
  margin: 0;
  margin-bottom: 62px;
  font-weight: bold;
  font-family: $ff-Bebas-Neue;
  font-size: 3.06em;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $color-dark;

  @include vp-1199 {
    font-size: 2.63em;
    text-align: center;
    margin-bottom: 42px;
  }

  @include vp-767 {
    font-size: 2.1em;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }
}
