@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../fonts/Roboto-Condensed.woff2") format("woff2"),
    url("../fonts/Roboto-Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Bold.woff2") format("woff2"),
    url("../fonts/BebasNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
